* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: #808080;
}
.main-content {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}
.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: black;
}
.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: white;
}
.left-content {
    padding: 1rem 3rem;

}
.profile {
    width: 100%;
    border-bottom: 1px solid white;
}
.image {
    width: 100%;
    text-align: center;
}
.profile img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;

}
.name {
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}
.career {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.main-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding-top: 3rem;
}
.contact-info ul {
    padding-top: 2rem;
    
}
.contact-info ul li {
    padding: 0.4rem 0;
    display: flex;
    align-items: center;
    color: white;
}
.contact-info ul li i {
    padding-right: 1rem;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
.skill-section ul {
    padding-top: 2rem;
}
.skill-section ul li {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0.4rem 0;

}
.progress-bar {
    width: 100%;
    height: .4rem;
    background-color: white;
    position: relative;
    border-radius: 12px;
}
.progress {
    height: 100%;
    position: absolute;
    left: 0;
    background-color: grey;
    border-radius: 12px;

}
.html-progress {
    width: 80%;
}
.css-progress {
    width: 65%;
}
.js-progress {
    width: 30%;
}
.py-progress {
    width: 60%;
}
.pt-progress {
    width: 100%;
}
.en-progress {
    width: 85%
}
.skill-title {
    text-transform: uppercase;
    color: white;
    font-size: 0.9rem;
}
.right-main-content {
    padding: 2rem 3rem;
}
.right-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 1.2rem;
    position: relative;
}
.right-title::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 0.2rem;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: black;
    border-radius: 12px;
}
.para {
    line-height: 2rem;
    color: grey;
    font-size: 1.1rem;
}
.sect {
    padding-bottom: 2rem;
}
.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.tl-title {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: grey;
    text-transform: uppercase;
}
.tl-title-2 {
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: grey;
    text-transform: uppercase;
}
.tl-content {
    border-left: 1px solid grey;
    padding-left: 2rem;
    position: relative;
}
.tl-title-2::after {
    content: "";
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    background-color: black;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
    
}

/*Media Querries*/
@media screen and (max-width: 823px) {
    .right-title::after {
        width: 40%;
    }
}
@media screen and (max-width: 681px) {
    .right-title::after {
        width: 30%
    }
}
@media screen and (max-width: 780px) {
    .timeline {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 780px) {
    .left-section {
        grid-column: span 3;
    }
    .right-section {
        grid-column: span 4;
    }
}
@media screen and (max-width: 1200px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
.profile img{
    width: 40%;
    }
}
@media screen and (max-width: 700px) {
.profile img{
    width: 60%;
    }
}
@media screen and (max-width: 390px) {
    .name {
        font-size: 1.5rem;
    }
    }
